.section{
    background: #ededed;
    padding: 20px;
    border-radius: 6px;
    margin: 20px auto;
}

.margin-y-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.space-between{
    display: flex;
    justify-content: space-between;
}